*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;
}
.container{
	width: 100%;
	min-height: 100vh;
}
.header{
	width: 100%;
	height: 80px;
	background: #fff8f5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}
.logo{
	width: 100%;
	max-width: 200px;
	height: 60px;
	display: flex;
}
.logo img{
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.search-bar{
	width: 100%;
    max-width: 400px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 2px 3px;
    border: 1px solid #aaa;
}
.search-bar input{
	background: transparent;
	flex: 1;
	border: none;
	outline: 0;
	color: #cac7ff;
	font-size: 17px;
	padding-left: 10px;
}
::placeholder{
	color: cac7ff;
}
.search-bar button img{
	width: 25px;
	color: #fff;
}
.search-bar button{
	border: 0;
	background: #0000FF;
	border-radius: 50px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .5s;
}
.search-bar button:hover{
	background: #3e54b0;
}
.icon{
	color: #0000FF;
	font-size: 25px;
	cursor: pointer;
	padding-left: 20px;
}
.fa-regular:hover{
	color: #3e54b0;
}
.fa-solid:hover{
	color: #3e54b0;
}




/*navbar*/

.nav-bar{
	width: 100%;
	height: 70px;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 70px;
	position: relative;
}
.nav-bar button{
	background: #0000FF;
	font-size: 18px;
	border: none;
	border-radius: 50px;
	color: #edf0f1;
	font-weight: 500;
	padding: 5px 16px;
	text-transform: uppercase;
	cursor: pointer;
	transition: .5s;
}
.nav-bar button:hover{
	background: #3e54b0;
}
.nav-link{
	list-style: none;
}
.nav-link li{
	display: inline-block;
	padding: 5px 8px ;
}
.nav-link li a{
	font-size: 15px;
	color: #404d44;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.5s ease;
	font-weight: bold;
	position: relative;
}
.nav-link li a:hover{
	color: blue;
}

.nav-link li a:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: blue;
	transition: all .15s ease-in-out;
}
.nav-link li a:hover:after{
	width: 100%;
}


.cont{
	display: flex;
}
.cont i{
	color: blue;
	font-size: 20px;
	padding: 0 5px;
}
.cont p{
	color: #000;
	font-weight: bold;
}

.open-menu, .close-menu{
	position: absolute;
	cursor: pointer;
	font-size: 30px;
	color: #000;
	display: none;
}
.open-menu{
	top: 95%;
	right: 20px;
	transform: translateY(-50px);
}
.close-menu{
	top: 20px;
	right: 20px;
}
#check{display: none;}



/*home section*/

.home{
	background: #fff8f5;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	display: flex;
}
.home-contact{
	margin-left: 5%;
}
.home-contact h1{
	font-size: 60px;
	color: #FF9B71;
	text-transform: capitalize;
	line-height: 1.3;
}
span{
	color: blue;
	text-transform: none;
	font-size: 70px;
}
.home-contact p{
	font-size: 15px;
	color: blue;
	font-weight: bold;
	padding-top: 30px;
}
.home-btn{
	background: blue;
	border: none;
	border-radius: 50px;
	padding: 10px 17px;
	color: #fff;
	text-transform: uppercase;
	margin-top: 20px;
	cursor: pointer;
	transition: all .5s ease;
}
.home-btn:hover{
	background-color: orange;
	color: blue;
	transform: translateY(-5px);
	box-shadow: 0px 5px 8px gray;
}
.home-img{
	width: 100%;
	height: auto;
	padding-top: 80px;
}
.home-img img{
	width: 100%;
}



/*category section*/

.category{
	width: 100%;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.category .row{
	width: 85vw;
	height: 200px;
	display: flex;
	margin-top: 70px;
	margin-left: 30px;
}
.col{
	width: 32%;
	margin: 0 10px;
}
.col img{
	width: 100%;
	transition: transform .5s ease;
}
.col img:hover{
	transform: scale(1.1);
}

.img-box-fix{
	width: 100%;
	overflow: hidden;
}




/*top category section*/


.cat-heading{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.cat-heading h2{
	text-transform: capitalize;
	font-size: 30px;
	background: #FEE3D3;
	margin: 20px auto;
	padding: 5px 10px;
}

.top-category .row{
	margin: 70px 70px ;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.circle{
	width: 120px;
	height: 120px;
	margin: 10px 20px;
	border-radius: 50%;
	background: #FEE3D3;
	padding: 20px;
}
.circle img{
	width: 100%;
	object-fit: cover;
	object-position: center;
	object-fit: cover;
	overflow: hidden;
}






/*exclusive section*/

.exclusive{
	width: 100%;
	height: 800px;
	background: #E7FBFE;
}
.ex-heading{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 60px;
}
.ex-heading h2{
	text-transform: capitalize;
	font-size: 30px;
	background: #9CEBFF;
	margin: 20px auto;
	padding: 5px 10px;
}
.ex-heading p{
	font-size: 22px;
	color: blue;
	text-transform: capitalize;
}

.exclusive .row{
	width: 90vw;
	height: 60vh;
	display: flex;
	margin-top: 70px;
	margin: auto;
	padding: 10px 10px;
	flex-wrap: wrap;
}
.ex-col{
	width: 20%;
	height: 350px;
	margin: auto;
	background: #fff;
	padding: 20px 20px;
 	transition: all .5s ease;
}
.ex-col:hover{
	background: #0000FF;
	box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
	transform: translateY(-5px);

}
.ex-col .image{
	width: 100%;
	height: 60%;
}
.ex-col .image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.ex-contect{
	width: 100%;
	margin-top: 40px;
}
.ex-contect h3{
	text-transform: capitalize;
}
.ex-col:hover .ex-contect h3{
	color: #fff;
}
.ex-contect p{
	color: #aaa;
	margin: 10px auto;
	font-weight: bold;
}
.star{
	color: goldenrod;
	font-size: 13px;
}



/*offer section*/

.offer{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to bottom, #ffff 0%, #FEE3D3 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.offer .row{
	width: 85vw;
	height: 60vh;
	display: flex;
	margin: auto;
	padding: 10px 10px;
	flex-wrap: wrap;
	margin-top: 60px;
}
.row .off-col{
	width: 50%;
	display: inline-flex;
	justify-content: center;
	position: relative;
}
.off-col #mob-img{
	width: 50%;
	transform: rotate(35deg);
}
.stamp{
	background-image: url(images/stamp-img.png);
	background-position: center;
	background-size: cover;
	width: 50%;
	position: relative;
	margin-bottom: 250px;
}
.stamp h3{
	font-size: 30px;
	font-family: 'Sofia', cursive;
	position: absolute;
	top: 28%;
	left: 30%;
	color: #fff;
	transform: rotate(25deg);
}
.discount{
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background: linear-gradient(to right, #9CEBFF 0%, #fff 100%);
	margin: 10px 20px;
	position: relative;
}
.discount h3{
	width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    font-family: 'Sofia', cursive;
    top: 10px;
    left: 50px;
    font-size: 35px;
} 
.shop{
	width: 60%;
	height: 500px;
	background-image: url(images/shopping-img.png);
	background-position: center;
	background-size: cover;
}

/*about section*/

.about{
	width: 100%;
	height: auto;
	background: #fff;
}
.about-row{
	width: 90vw;
	height: 150px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
}
.about-col{
	width: 20%;
}
.about-col img{
	width: 100%;
	object-fit: cover;
	padding: 20px 30px;
	cursor: pointer;
}



.box{
	width: 85%;
	height: 90vh;
	background: #FEE3D3;
	margin: auto;
	align-items: center;
	justify-content: center;
	display: flex;
}
.box-row{
	width: 90%;
	height: 70vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.box-col{
	width: 50%;
	margin: 0 20px;
}
.box-img{
	background-image: url(images/abc.png);
	width: 60%;
	height: 75vh;
	margin: auto;
	background-size: cover;
	background-position: center;
}
.box-contact h1{
	font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.box-contact p{
	color: #aaa;
}
.box-img-logo{
	width: 35%;
	display: flex;
}
.box-img-logo img{
	width: 100%;
	margin-top: 10px;
	cursor: pointer;
	transition: all .5s ease;
}
.box-img-logo img:hover{
	transform: translateY(-5px);
}


/*footer*/
.footer{
	width: 100%;
	height: 400px;
	background-color: #f2f2f2;
	align-items: center;
	justify-content: center;
	display: flex;
}
.fot-row{
	width: 90vw;
	height: 350px;
	display: flex;
}
.fot-col{
	width: 25%;
	margin: 0 10px;
	padding: 5px 20px;
}

.fot-logo{
	width: 100%;
	max-width: 170px;
	height: 70px;
	display: flex;
	margin: 20px 0;
}
.fot-logo img{
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.fot-col p{
	color: gray;
	font-weight: bold;
	padding-right: 10px;
	font-size: 14px;
	line-height: 25px;
}
.social-link{
	width: 200px;
	margin-top: 15px;
}
.social-link p{
	text-transform: uppercase;
	color: #000;
	margin-top: 20px;
	font-size: 14px;
}
.social-link i{
	font-size: 20px;
	color: gray;
	padding: 10px 2px;
	cursor: pointer;
	transition: all .5s ease;
}
.social-link i:hover{
	color: #000;
}

.fot-col h4{
	text-transform: uppercase;
	font-size: 17px;
	margin-top: 10px;
}
.line{
	width: 75%;
	height: 2px;
	background: black;
}
.fot-links{
	padding: 10px 5px;
}
.fot-links li{
	text-decoration: none;
	padding: 3px;
	color: gray;
	padding: 5px 0;
}
.fot-links li a{
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: gray;
	text-transform: capitalize;
	transition: all .3s ease;
}
.fot-links li a:hover{
	color: blue;
	border-bottom: 1px solid blue;
}

#fot-col h5{
	font-size: 17px;
	text-transform: capitalize;
	margin-top: 15px;
}
#fot-col p{
	font-size: 11px;
	padding: 10px 0;

}


.fot-search-bar{
	width: 100%;
    max-width: 400px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 5px 5px;
    border: 1px solid #aaa;
    margin: 10px 0;
}
.fot-search-bar input{
	background: transparent;
	flex: 1;
	border: none;
	outline: 0;
	color: #cac7ff;
	font-size: 14px;
}
 #fot-btn{
	margin-top: 10px;
	border: 0;
	background: #0000FF;
	color: #fff;
	border-radius: 7px;
	width: 90px;
	height: 30px;
	cursor: pointer;
	transition: .5s;
	text-transform: uppercase;
	font-size: 12px;
	transition: all .5s ease;
}
 #fot-btn:hover{
 	background-color: orange;
	color: blue;
	transform: translateY(-5px);
	box-shadow: 0px 5px 8px gray;
 }
.fot-copyright{
	background: #f2f2f2;
	width: 100%;
	height: 50px;
}
.copyright{
	border-top: 1px solid grey;
	width: 90%;
	height: 40px;
	margin: auto;
}
.copyright p{
	color: gray;
	padding: 10px 0;
	font-size: 14px;
}








/*RESPONSIVE*/


@media only screen and (max-width: 980px){
	.header{
		width: 100%;
		height: 70px;
		padding: 0 30px;
	}
	.search-bar{
		width: 100%;
	    max-width: 300px;
	    padding: 2px 3px;
	}
	.search-bar input{
		font-size: 15px;
	}


	/*nav-bar*/
	.nav-link{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 80%;
		height: 100vh;
		top: 0;
		right: -100%;
		position: fixed;
		z-index: 100;
		background: #FF9B61;
		color: #fff;
		transition: all .3s ease;
	}
	.nav-link li{
		margin-top: 30px;
	}
	.nav-link li a{
		color: #fff;
		padding: 5px;
	}
	.open-menu, .close-menu{display: inline-block;}
	#check:checked ~ .nav-link{right: 0;}
	.nav-bar{
		padding: 10px 50px;
	}
	.cont p{
		font-size: 15px;
		margin-right: 20px;
	}



	/*hom section*/
	.home{
		width: 100%;
		height: 500px;
	}
	.home-contact h1{
		font-size: 50px;
		line-height: 1.1;
	}
	span{
		font-size: 60px;
	}
	.home-contact p{
		font-size: 14px;
	}
	.home-img{
		width: 100%;
		height: auto;
		margin: 0 20px;
	}
	.home-img img{
		width: 100%;
	}

	/*category section*/

	.col{
		width: 30%;
		margin: 0 10px ;
	}
	.cat-heading h2{
		margin: 0px;	
	}
	.cat-heading p{
		margin-top: 10px;
	}


	/*ex section*/
	.ex-col{
		width: 40%;
		height: 450px;
		margin: 10px 10px;
	}
	.exclusive{
		width: 100%;
		height: 200vh;
	}
	.exclusive .row{
		align-items: center;
		justify-content: center;
	}
	.ex-col .image{
		width: 100%;
		height: 70%;
	}


	/*offer section*/
	.offer{
		width: 100vw;
		height: 150vh;
	}
	.row .off-col{
		width: 100%;
		padding: 0 50px;
	}
	.off-col #mob-img{
		width: 40%;
		height: 90%;
	}
	.stamp{
		width: 40%;
		margin-bottom: 200px;
	}
	.shop{
		width: 60%;
		height: 450px;
	}

	/*about section*/
	.about-row{height: 100px;}


	.box-img{
		background-image: url(images/abc.png);
		width: 60%;
		height: 50vh;
		margin: auto;
		background-size: cover;
		background-position: center;
	}

	.box-contact h1{font-size: 30px;}
	.box-contact p{font-size: 13px; padding: 10px 0;}



	/*footer*/

	.fot-logo{
		width: 100%;
		max-width: 160px;
		height: 60px;
		margin: 0px 0;
		margin-bottom: 15px;
	}
	.social-link i{font-size: 18px;}

	.fot-col h4{font-size: 15px;}


	.fot-links{
		padding: 8px 0px;
	}
	.fot-links li{
		padding: 4px 0;
	}

	 #fot-btn{
		width: 80px;
		height: 25px;
		font-size: 11px;
	}
	.copyright p{
		padding: 10px 0;
		font-size: 13px;
	}


}





@media only screen and (max-width: 800px){
	.header{
		padding: 0 30px;
	}
	.logo{
		width: 100%;
		max-width: 180px;
	}
	.search-bar{
		width: 100%;
	    max-width: 250px;
	    padding: 2px 3px;
	}
	.icon{
		font-size: 20px;
	}

	/*nav bar*/
	.nav-bar button{
		font-size: 15px;
		font-weight: bold;
		padding: 5px 13px;
	}

	/*home section*/
	.home{
		width: 100%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.home-contact{
		width: 70%;
		margin-top: 15%;
	}

	/*category section*/
	.category{
		width: 100%;
		height: 180vh;
	}

	.category .row{
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.col{
		width: 80%;
		margin: 10px 10px;
	}

	/*ex section*/
	.ex-col{
		width: 70%;
		height: 450px;
		margin: 10px 10px;
	}
	.exclusive{
		width: 100%;
		height: 360vh;
	}
	.ex-col .image{
		width: 100%;
		height: 70%;
		align-items: center;
		justify-content: center;
	}
	.ex-col .image img{
		width: 90%;
		height: 110%;
		object-fit: cover;
		object-position: center;
		padding: 20px 20px;
	}

	/*offer section*/
	.offer{
		width: 100vw;
		height: 130vh;
	}
	.stamp{
		width: 50%;
		margin-bottom: 130px;
	}
	.discount{
		width: 200px;
		height: 140px;
		margin: 30px auto;
	}
	.discount h3{
		width: 100%;
	    font-size: 27px;
	} 
	.shop{
		width: 100%;
		height: 400px;
	}

	/*box section*/
	.box{
		width: 85%;
		height: 80vh;
	}
	.box-img{
		width: 90%;
		height: 55vh;
	}
	.box-contact h1{font-size: 25px;}


	/*footer*/
	.footer{
		width: 100%;
		height: 500px;
	}
	.fot-row{
		width: 95%;
		height: 450px;
	}
	.fot-col p{
		padding-right: 5px;
		line-height: 20px;
	}
	.social-link i{
		font-size: 17px;
	}
	.fot-col h4{
		font-size: 14px;
	}
	.line{
		width: 90%;
	}
	.fot-links{
		padding: 10px 5px;
	}
	
	

}








@media only screen and (max-width: 580px){
	.header{
		padding: 0 30px;
	}
	.search-bar{
		width: 100%;
	    max-width: 250px;
	    padding: 2px 3px;
	}
	/*category section*/
	.category{
		width: 100%;
		height: 130vh;
	}

	/*top category section*/
	.cat-heading h2{
		font-size: 25px;
		margin: 10px auto;
	}
	.cat-heading p{
		font-size: 15px;
	}

	/*exclusive section*/

	.ex-heading h2{
		font-size: 25px;	
	}
	.ex-heading p{
		font-size: 20px;
		
	}


	/*offer section*/
	.offer{
		width: 100vw;
		height: 110vh;
	}

	.off-col #mob-img{
		width: 50%;
		height: 90%;
	}
	.stamp{
		width: 50%;
		margin-bottom: 120px;
	}
	.stamp h3{
		font-size: 20px;
		top: 28%;
		left: 28%;
	}
	.discount{
		width: 240px;
		height: 135px;
		margin: 0;
	}
	.discount h3{
	    top: 10px;
	    left: 45px;
	    font-size: 25px;
	} 
	.shop{
		width: 100%;
		height: 350px;
	}
	.box{
		width: 80%;
		height: 700px;
	}
	.box-row{
		width: 90%;
		height: 70vh;
		flex-wrap: wrap;
	}
	.box-col{
		width: 90%;
		margin: 5px 20px;
	}
	.box-img{
		width: 55%;
		height: 300px;
	}
	

	/*footer*/

	.footer{
		width: 100%;
		height: 750px;
	}
	.fot-row{
		height: 750px;
		flex-wrap:wrap;
	}
	.fot-col{
		width: 28%;
		margin: 0 10px;
		padding: 5px 5px;
	}







}




